<div class="container min-vh-100 d-flex flex-column">
    <h1 class="mt-3 text-center">Optical Character Recognition</h1>
    
    <!-- Main content -->
    <div class="mt-5">

        <div class="row g-3 w-100">
            <div class="col-6">
                <div class="input-group mb-3">
                    <input type="file" class="form-control" id="inputGroupFile03" aria-describedby="inputGroupFileAddon03" aria-label="Upload" accept=".bmp, .jpg, .png, .pbm, .webp">
                </div>
            </div>
            <div class="col-6">
                <button disabled id="cbtn" class="btn btn-primary mx-auto d-block">
                    <span id="l-spinner" class="spinner-border spinner-border-sm d-none" role="status" aria-hidden="true"></span>
                    Recognize text
                </button>
            </div>
            <div class="col-6">
                <div class="card">
                    <img id="i-img" src="/upload_placeholder.png" class="card-img-top object-fit-contain" alt="Image" style="height: 400px;">
                </div>
            </div>
            <div class="col-6 d-flex justify-content-center">
                <pre id="o-art">
                </pre>
            </div>
        </div>

    </div>
</div>